/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
  width: 100%;
  height: 100%;
}

.gridline-major-x{
  stroke: rgb(207, 207, 207);
}
